<div class ="row contact">
  <div class="col-sm-8 image">
    <%= image_tag("http://img1.etsystatic.com/000/0/5304180/il_fullxfull.291547823.jpg?ref=l2")%>
  </div>
  <div class="col-sm-4 content">
    <h5>Contact us</h5>
    <p>
      Line id – iiceezy
    </p>
    </p>
      Email – <a a href="mailto:dressxmeup@gmail.com">dressxmeup@gmail.com</a>
    <p>
    <p>
      Our customer service team will get back to you within 24 hours.
    </p>
  </div>
</div>