<div class="item col-md-3 col-sm-4 col-xs-6">
  <div class="thumbnail">
    <%= link_to item_path(item[:identifier]) do %>
      <div class="cover">
        <%= image_tag(item[:first_photo]) %>
      </div>
    <% end %>
    <div class="caption">
      <%= link_to "##{item[:name]}", item_path(item[:identifier]) %><br>
      <p class="text-right">
        <%= item[:description].split(",").first if item[:description].present? %>
      </p>
    </div>
  </div>
</div>


