<div class="row">  
  <div class="col-sm-12">
    <div class="row item">
      <div class="col-sm-3">
        <div class="item-detail">
          <h3><%= "##{@item.name}" %></h3>    
            <% if @item.description.present? %>
              <% @item.description.split(",").each do |d| %>
                <p><%= d %></p>
              <% end %>
            <% end %>   
        </div>
      </div>
      <div class="col-sm-6">
        <ul class="bxslider">
          <% @item.photos.each do |photo| %>
            <li><%= image_tag(photo.images.first.source, class:"img-responsive") %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-sm-3">
        <div id="bx-pager">
          <div class="row">
            <% @item.photos.each_with_index do |photo,index| %>
              <div class="col-xs-4">
                <a data-slide-index=<%= index %> href="">
                  <%= image_tag(photo.images.first.source, class:"img-responsive") %>
                </a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




