div.contact{
  background: #FF9791;
  .image{
    max-height: 600px;
    overflow: hidden;
    img{
      width: 100%;
    }
    padding: 0px;
  }
    div.content{
    h5{
      font-weight: 100;
      font-size: 34px;
    }
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    color: white;
    padding: 15px;
    a{
      color: white;
    }
  }
}