nav.navbar.navbar-default{
  border: none;
  background: white;

  div.navbar-collapse{
    border: none;
  }
  a.navbar-brand {
    color: white !important;
    background: #FF9797;
    font-weight: 200;
    letter-spacing: 2px;
  }
  ul.nav.navbar-nav{
    li{
      a{
        font-weight: 200;
        letter-spacing: 2px;  
        color: black;
      }
    } 
  }
}
