div.row.items{
  padding-top: 20px;
  .item{
    .thumbnail{
      padding: 0px;
      border: none;
      .cover{
        overflow: hidden;
        img{
          width: 100%;
        }
      }
      .caption{
        padding-left: 0px;
        padding-right: 0px;
        a{
          font-weight: 200;
          letter-spacing: 2px;
          color: #FF9797;
        }
        p{
          font-weight: 200;
          letter-spacing: 2px;
        }
      }
    }
  }
}
div.row.item{
  .bx-viewport {
    -moz-box-shadow: 0 0 0px ;
    -webkit-box-shadow: 0 0 0px ;
    box-shadow: 0 0 0px ;
    border: none;
    left: 0px;
    background: none;
  }
  #bx-pager{
    .row{
      .col-xs-4{
        padding-bottom: 15px;
      }
    }
  }  
}
div.item-detail{
  h3{
    margin-top: 0px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #FF9797;
    border-bottom: 1px solid;
    padding-bottom: 15px;
  }
  p{
    font-weight: 200px;
    letter-spacing: 2px;
  }
}
