<!DOCTYPE html>
<html>
<head>
  <title>DressXMeUp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <%= render "shared/header" %>
    </div>
    <div class="body">
      <%= yield %>
    </div>
  </div>
</body>
</html>
